.navFullWidth {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 20px;
  background-color: #F3F6F7;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.navContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.navContainer img, .navContainer a {
  margin-right: auto;
}

.navLink{
  width: 100%;
  display: flex;
  margin-right: auto;
}

.navLink ul {
  margin-left: auto;
}

.filterNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1140px;
  
}

.filterNav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}

.filterNav li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterNav button {
  color: #020408;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filterNav .activeBtn {
  color: #2D7676;
  text-decoration: underline;
}


.filterNav button:hover {
  color: #2D7676;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  border: none;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  padding: 10px 20px;
  background-color: #F3F6F7;
  margin: 0 auto;
  background-color: transparent;
}

.navContainer ul, .footerContainer ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.footerContainer ul li a, .footerContainer p {
  color: #F3F6F7;
  font-size: 16px;
}

.footerContainer p{
  margin: 0;
  padding: 0;
}

.footerContainer p a{
  margin-left: 5px;
  color: #F3F6F7;
  text-decoration: underline;
}

.footerContainer ul{
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

.navContainer ul li a {
  color: #020408;
  font-weight: 500;
}

.navContainer ul li a:hover {
  color: #0087a6;
  text-decoration: none;
}

.fullWidthFooter {
  width: 100%;
  background-color: #1E5252;
}

.titleContainer {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.titleContainer h1{
font-size: 50px;
}

.titleContainer h1, .titleContainer h5 {
  color: #020408;
  text-align: center;
  margin: 0;
}

.credits {
  margin: 0 auto;
  text-align: center;
  color: #F3F6F7;
  font-size: 14px;
  padding-bottom: 10px;
}

.credits a {
  color: #F3F6F7;
}

.hamburgerContainer {
  display: none;
}

.hamburgerBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closedNav {
  display: none;
}

.openNav {
  display: flex;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F3F6F7;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: -130px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 4px;
}

.openNav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.closedLi {
  display: none;
}


@media screen and (max-width: 1140px){
  .titleContainer h1 {
    line-height: 40px;
    font-size: 40px;
    max-width: 400px;
  }
  .titleContainer {
    padding-top: 20px;
  }
  .navContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
  }
 
  .openNav {
    margin-top: 10px;
    margin-left: -80px;
  }
  .closedLi {
    display: inline-block;
  }
}

@media screen and (max-width: 767px){
  .hamburgerContainer {
    display: block;
    margin-left: auto;
  }

  .navContainer .navLink {
    display: none;
  }

  .filterNav ul{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
  .footerContainer p {
    padding-top: 20px;
    text-align: center;
  }
  .credits {
    padding-bottom: 20px;
  }
  .titleContainer {
    padding-top: 20px;
  }
}
